# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="https://stg-f2m-mvp.6degrees.co" # Allowed CORS origin, adjust as necessary

# Mongo database url
MONGODB_URL=mongodb://127.0.0.1:27017/refaral_campagin

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

SALT_API=https://salt.api.mystenlabs.com/get_salt

# Sponsor Transaction For testnet
SUI_NETWORK=https://fullnode.testnet.sui.io:443
ENOKI_PRIVATE_API_KEY=
ENOKI_CLIENT_NETWORK=testnet
ADMIN_ADDRESS=
ADMIN_SECRET_KEY=
PACKAGE_ADDRESS=
CAMPAIGN_ADMIN_CAP_ADDRESS=
CAMPAIGN_SECURITY_ADDRESS=
CAMPAIGN_OBJECT_ADDRESS=
SPONSOR_WALLET_COUNT=500

# Email Service
RESEND_API_KEY=